<!--sidebar-->
<c-sidebar #sidebar1="cSidebar" class="d-print-none sidebar sidebar-fixed border-end" colorScheme="dark" id="sidebar1" style="background: radial-gradient(1200px 500px at 70% -10%, rgba(96, 165, 250, .12), transparent 60%), radial-gradient(900px 600px at 10% 100%, rgba(59, 130, 246, .1), transparent 60%), linear-gradient(180deg, #0a0f1a, #0b1220 60% 100%);"
  visible>
  <c-sidebar-header class="border-bottom">
            <img [src]="'../../../assets/logicAI.png'" alt="Avatar" class="rounded-circle shadow-sm"
          style="width: 50%; height: 65px; object-fit: cover;" />
  </c-sidebar-header>

  <ng-scrollbar pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav [navItems]="navItems" dropdownMode="close" compact />
  </ng-scrollbar>

  @if (!sidebar1.narrow) {
  <c-sidebar-footer class="border-top d-none d-lg-flex">
    <button (click)="goToLogin()">
      <svg cIcon name="cilAccountLogout" size="lg" style="cursor: pointer;"></svg>
    </button>
  </c-sidebar-footer>
  }
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">
  <!--app-header-->
  <app-default-header [cShadowOnScroll]="'sm'" class="mb-4 d-print-none header header-sticky p-0 shadow-sm"
    position="sticky" sidebarId="sidebar1" />
  <!--app-body-->
  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto px-4">
      <router-outlet />
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer />
</div>